<h1 style="text-align: center;">Explore</h1>
<div class="container">
  <div class="card">
    <div class="lines">
      <div class="imageBox">
        <img src="../../../assets/img/ravi.jpeg" alt="">
      </div>
      <div class="content">
        <div class="details">
          <h2>Ravi</h2>
          <div class="info">
            <h3>The interactive elements like quizzes and live Q&A sessions made the learning experience immersive and
              engaging. The support staff were always available to help.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="lines">
      <div class="imageBox">
        <img src="../../../assets/img/praveen.jpg" alt="">
      </div>
      <div class="content">
        <div class="details">
          <h2>Praveen</h2>
          <div class="info">
            <h3>The course content was comprehensive and well-structured. I particularly enjoyed the practical
              assignments that helped me apply the concepts in real-world scenarios.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="lines">
      <div class="imageBox">
        <img src="../../../assets/img/ashok.jpeg" alt="">
      </div>
      <div class="content">
        <div class="details">
          <h2>Ashok</h2>
          <div class="info">
            <h3> I particularly enjoyed the practical assignments that helped me apply the concepts in real-world scenarios.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="lines">
      <div class="imageBox">
        <img src="../../../assets/img/Abhi.jpeg" alt="">
      </div>
      <div class="content">
        <div class="details">
          <h2>Abhi</h2>
          <div class="info">
            <h3>Great platform! The instructors were very knowledgeable, and I felt like I was making progress every
              week. The community support was an added bonus.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>